:root {
  --beige: #F7F7EB;
  --blue: #0071DD;
  --khaki: #B6B191;
  --rose: #F4A79F;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Antikor Light Italic";
  src: url("./fonts/AntikorMonoLightItalic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Antikor Light";
  src: url("./fonts/AntikorMonoLight.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Antikor Regular";
  src: url("./fonts/AntikorMonoRegular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Antikor Bold";
  src: url("./fonts/AntikorMonoBold.woff2") format("woff2");
  font-display: swap;
}

@keyframes blinkV {
  0%, 100% {
    transform: translateY(-1vw);
  }
  50% {
    transform: translateY(0vw);
  }
}
@keyframes blinkH {
  0%, 100% {
    transform: translateX(-1vw);
  }
  50% {
    transform: translateX(0vw);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--blue);
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  transition: opacity 3s ease;
}
body::-webkit-scrollbar {
  display: none;
}
/* --------------------------------------------------------------------------------------------------------- */
.header {
  position: fixed;
  top:0;
  width: 100vw;
  height: 7vh;
  padding: 20px;
  display: flex;
  justify-content: center;

  background-image: url('../images/header_background.png');
  background-size: 100% 100%;   /* fill처럼 왜곡을 감수하고 꽉 채움 */
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.logo {
  width: auto;
  height: 30px;
  padding: 0;
  display: flex;
}
.logo img{
  height: 100%;
}

/* --------------------------------------------------------------------------------------------------------- */
.container {
  display: flex;
  position: relative;
  width: 98vw;
  height: 93vh;
  top: 7vh;
  overflow: hidden;
}
#photo_cuisine {
  position: fixed;
  top: 7vh;
  height: 93vh;
  width: 210vw;
  background-color: var(--beige);
}
#photo_cuisine img {
  padding-top: 1vw;
  height: 100%;
  width: 100%;
  object-fit: fill
}
.poster{
  position: fixed;
  top: 1vh;
  left: 58vw;
  height: 20vw;
  z-index: 99;
}
.poster img{
  width: 100%;
}
.table{
  position: fixed;
  width: 80vw;
  bottom: 0vh;
  left: 60vw;
  z-index: 100;
}
.tableImg{
  width: 100%;
}
.entry-chambre{
  position: absolute;
  left: 6vw;
  bottom: 20vh;
  font-size: 1.5rem;
  font-family: "Antikor Regular", sans-serif;
  z-index: 99;
  padding: 1rem 2rem 1rem 2rem;
}
.entry-chambre svg{
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  z-index: 99;
  animation: blinkH 1.5s infinite;
}
.entry-couloir{
  position: absolute;
  left: 6vw;
  bottom: 10vh;
  font-size: 1.5rem;
  font-family: "Antikor Regular", sans-serif;
  z-index: 99;
  padding: 1rem 2rem 1rem 2rem;
}
.entry-couloir svg{
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  z-index: 99;
  animation: blinkH 1.5s infinite;
}
.entry-atelier{
  position: absolute;
  right: -27vw;
  bottom: 10vh;
  font-size: 2rem;
  font-family: "Antikor Bold", sans-serif;
  z-index: 99;
  padding: 1rem 2rem 1rem 2rem;
}
.entry-atelier svg{
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  z-index: 99;
  animation: blinkH 1.5s infinite;
}
/* --------------------------------------------------------------------------------------------------------- */
.livredor{
  position: absolute;
  left: 70vw;
  bottom: 22vh;

  width: 6vw;
  height: 8vw;
  z-index: 100;
  cursor: pointer;
}
.livredor svg{
  position: absolute;
  top: 0;
  left: 1.2vw;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  z-index: 99;
  animation: blinkV 1.5s infinite;
}
.box_livredor {
  position: absolute;
  top: 10vh;
  left: 50vw;
  width: 35vw;
  height: 25vw;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid #0071DD;
  background: var(--beige);

  display: none;   /* 기본 숨김 */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 101;
}
.box_livredor.show {
  display: block;
  opacity: 1;
}

.livredor-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.entries {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 30vh; /* 필요에 따라 조절 */
  padding: 0.5rem;
  font-family: "Antikor Light", sans-serif;
  color: var(--blue);
}
.input-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input-row textarea {
  width: 100%;
  height: 6rem;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: var(--beige);
  border: solid 1px var(--blue);
  font-family: "Antikor Light", sans-serif;
  color: var(--blue);
}
.input-row button {
  width: fit-content;
  align-self: flex-end;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 15px;
  background: var(--blue);
  font-family: "Antikor Light", sans-serif;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
