:root {
  --beige: #F7F7EB;
  --blue: #0071DD;
  --khaki: #B6B191;
  --rose: #F4A79F;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Antikor Mono Light Italic";
  src: url("./fonts/Antikor_Mono_Light_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antikor Mono Light";
  src: url("./fonts/Antikor_Mono_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antikor Mono Regular";
  src: url("./fonts/Antikor_Mono_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antiko Mono Bold";
  src: url("./fonts/Antikor_Mono_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

body, html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100dvw;
  font-family: 'Antikor Mono Regular';
}
/* --------------------------------------------------------------------------------------------------------- */
.header {
  position: fixed;
  flex-shrink: 0;
  top:0;
  width: 100vw;
  height: 7vh;
  padding: 20px;
  display: flex;
}
.logo {
  width: 94vw;
  padding: 0;
  margin: 0;
  display: flex;
  height: 30px;
}
.logo img{
  height: 100%;
}
.menu {
  display: flex;
  width: 5%;
  height: 100%;
  justify-content: flex-end;
  font-family: "Antikor Mono Bold";
  font-size: 1.2rem;
}
/* --------------------------------------------------------------------------------------------------------- */
.container{
  flex: 1;
  display: flex;
  width: 100vw;
  height: 93vh;
}
.boxes {
  padding: 20px;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4fr 6fr 5fr 5fr;
  gap: 0.5rem; 
  font-size: 0.8rem;
}
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9{
  display: flex;
  flex-direction: column;
  align-items: flex-start;   /* 수직: 위쪽 정렬 */
  justify-content: flex-start;
}
.box1{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.box2{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.box3{
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}
.box4{
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
.box4 img{
  width: 100%;
}
.box5{
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.box6{
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
.box7{
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  font-size: 2rem;;
}
.box8{
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  font-size: 1rem;
  text-transform: uppercase;
}
/* .box9{
  grid-column: 3 / 4;
  grid-row: 4 / 5;
} */
/* --------------------------------------------------------------------------------------------------------- */
.title{
  font-size: 1rem;
  text-transform: uppercase;
}
.subtitle{
    font-size: 1.5rem;
}
/* --------------------------------------------------------------------------------------------------------- */
.footer{
  display: flex;
  width: 100vw;
  height: 5rem;
  margin-top: 1rem;
  font-family: "Antikor Mono Light", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  padding: 1rem;
}
.footer div{
  width: 20rem;
  height: 1rem;
}